.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 1.2s;
    &.default {
      @extend .btn;
      @include button-color($color-secondary);
      }
    &.error {
      @extend .btn;
      @include button-color($color-error);
    }
    &.info {
      @extend .btn;
      @include button-color($color-info);
    }
    &.success {
      @extend .btn;
      @include button-color($color-success);
    }
    &.warning {
      @extend .btn;
      @include button-color($color-warning);
    }
}
  
@media (min-width: map-get($breakpoints, 'lg')) {

  .btn {
    padding: 10px 30px;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .logo {
    margin-left: initial;
    margin-right: initial;
  }

}