.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &.default {
      @extend .btn;
      background-color: $color-primary;
      &:hover {
        background-color:lighten($color-primary, 15);
      }
    }
    &.error {
      @extend .btn;
      background-color: $color-error;
    }
    &.info {
      @extend .btn;
      background-color: $color-info;
    }
    &.success {
      @extend .btn;
      background-color: $color-success;
    }
    &.warning {
      @extend .btn;
      background-color: $color-warning;
    }
}
  
@media (min-width: map-get($breakpoints, 'lg')) {

  .btn {
    padding: 10px 30px;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .logo {
    margin-left: initial;
    margin-right: initial;
  }

}